<!DOCTYPE html>
<html>
<head>
    <title>Urban Climate Registrierung</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">
            Urban Climate Registrierung
        </h1>

        <!-- Wenn alles funktioniert hat und der User angelegt wurde -->
        {% if message == "userConfirmed" %}
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="alert alert-success" role="alert">
                        Vielen Dank für Ihre Bestätigung. Sie könnnen sich jetzt einloggen.
                    </div>
                </div>
            </div>    
        {% endif %}
        
        <!-- Wenn der Benutzer bereits bestätigt wurde -->
        {% if message == "userAlreadyConfirmed" %}
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="alert alert-warning" role="alert">
                        Dieser Benutzer wurde bereits bestätigt. Sie können sich einloggen.
                    </div>
                </div>
            </div>    
        {% endif %}

        <!-- Wenn am Link herumgespielt wurde (registerCode lässt sich nicht auf eine ID auflösen) -->
        {% if message == "notFound" %}
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="alert alert-danger" role="alert">
                        Der Link ist ungültig.
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Wenn die Signatur abgelaufen ist -->
        {% if message == "toLate" %}
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="alert alert-danger" role="alert">
                        Der Link ist abgelaufen. Bitte bestätigen Sie sich erneut.
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" id="emailConfirm" hidden>
                <div class="col-md-4">
                    <div class="alert alert-success" role="alert">
                        Die E-Mail wurde erfolreich versendet.
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="text-center mt-3">

            <!-- Wenn die Signatur abgelaufen ist -->
            {% if message == "toLate" %}
                <input type="button" class="btn btn-primary" value="Erneut bestätigen" id="resendConfirmation">
            {% endif %}

            <a class="btn btn-primary" type="button" href="#">
                Zum Login
            </a>
        </div>
    </div>

    <!-- Wenn die Signatur abgelaufen ist -->
    {% if message == "toLate" %}
        <script>
            document.getElementById('resendConfirmation').addEventListener('click', async function() {
                document.getElementById('resendConfirmation').classList.add("disabled");
                document.getElementById('resendConfirmation').setAttribute('aria-disabled', true);
                
                //POST an Django-Server
                let token = '{{ csrf_token }}';
                let formData = new FormData;

                // userId wird aus dem Template übergeben
                let userId = '{{ userId }}';
                
                formData.append('todo', 'resendEmail');
                formData.append('userId', userId);
                formData.append('csrfmiddlewaretoken', token);
                let response = await fetch('/login/', {
                    method: 'POST',
                    body: formData
                });

                //Wenn Antwort vom Server OK ist, also ohne Fehler, wird die Antwort in JSON umgewandelt und ausgewertet
                if (response.ok) {
                    let data = await response.json();
                    if (data.success == true) {
                        document.getElementById('emailConfirm').removeAttribute('hidden');
                    }
                }    
            });
        </script>
    {% endif %}

</body>
</html>