<!DOCTYPE html>
<html>
<head>
    <title>Urban Climate Registrierung</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">
            Urban Climate Registrierung
        </h1>
        <div class="row justify-content-center" id="emailVorhandenError" hidden>
            <div class="col-4">
                <div class="alert alert-danger" role="alert">
                    Email bereits vorhanden!
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="emailConfirm" hidden>
            <div class="col-4">
                <div class="alert alert-success" role="alert">
                    Bitte bestätigen Sie Ihre Email-Adresse über die E-Mail, die wir Ihnen zugesendet haben!
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="loginEmail" placeholder="name@example.com">
                    <label for="loginEmail">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                    <label for="loginPassword">Password</label>
                  </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a class="btn btn-primary" role="button" id="submitRegister" onclick="tryRegister()">
                Registrieren
            </a>
            <a class="btn btn-primary" role="button" href="#"><!-- Hier muss noch der Link zum Chripstack eingefügt werden -->
                Zum Login
            </a>
        </div>
    </div>
    
    <script>
        async function tryRegister() {
            // Button deaktivieren
            document.getElementById('submitRegister').classList.add("disabled");
            document.getElementById('submitRegister').setAttribute('aria-disabled', true);

            let email = document.getElementById('loginEmail').value;
            let password = document.getElementById('loginPassword').value;

            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!emailRegex.test(email)) {
                //Falls E-Mail nicht gültig ist, wird das Feld rot markiert
                document.getElementById('loginEmail').classList.add('is-invalid');
                return false;
            } else {
                document.getElementById('loginEmail').classList.remove('is-invalid');
            }

            //POST Request an Django-Server
            let token = '{{ csrf_token }}';
            let formData = new FormData;
            
            formData.append('todo', 'register');
            formData.append('email', email);
            formData.append('password', password);
            formData.append('csrfmiddlewaretoken', token);
            let response = await fetch('/login/', {
                method: 'POST',
                body: formData
            });

            //Wenn Antwort vom Server OK ist, also ohne Fehler, wird die Antwort in JSON umgewandelt und ausgewertet
            if (response.ok) {
                let data = await response.json();
                if (data.error === "emailVorhanden") {
                    document.getElementById('submitRegister').classList.remove("disabled");
                    document.getElementById('submitRegister').setAttribute('aria-disabled', false);
                    
                    document.getElementById('emailVorhandenError').removeAttribute('hidden', true);
                    document.getElementById('emailConfirm').setAttribute('hidden', true);
                } else {
                    document.getElementById('emailVorhandenError').setAttribute('hidden', true);
                    document.getElementById('emailConfirm').removeAttribute('hidden', true);
                }
            }
        }
    </script>
</body>
</html>